<div class="container">
  <h2>Empresa</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome da Empresa</th>
        <th>Dono da Empresa</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.owner %></td>
          <td><%= link_to "Transações", store_path(store) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>